{{define "sign-in"}}
    {{template "base"}}
{{end}}

{{define "title"}}Sign In{{end}}

{{define "body"}}
    <h1>Sign In</h1>
{{end}}

{{define "scripts"}}
    <script src="/static/js/index.js"></script>
{{end}}